.yeogurt-info
  h1 Welcome to Yeogurt!
  p
    | Take a look at the
    a(href='https://github.com/larsonjj/generator-yeogurt#yeogurt-generator---' data-bypass)
      |  documentation
    |  and start mixing up something awesome.
  p
    img.logo(src='/images/yeogurt-swirl.png', width='75px')
  p.links
    a(href='/docs/styleguide/index.html', data-bypass) Styleguide
    a(href='/docs/api/index.html', data-bypass) API
  p
    a(href='#main') Main
  P
    a(href='#test') Test
  p
    a(href='#recorder_start') Recorder

code.version v0.14.6
