.tonetrainer-info
  h1 Mandarin Tone Trainer
  h3 by Dan Gaspari
  hr
  p
    img.logo(src='/images/ExtensionFlag.png', width='125px')
  p This is part of my submission for a masters thesis at Harvard Extension School. The goal is to build a web app that can help students practice speaking in Mandarin. The app will provide a pitch graph of a spoken word so that a student can see whether the tones are spoken correctly. The app will also provide an experienced Mandarin speaker's pitch graph for comparison. 
  p Go to "Tonetrainer" to see the current implementation of the app. 
    | The "Recorder" button leads to a section intended for recording example words spoken by native Mandarin speakers. 
    | The "Test" button leads to a testing app where the pitch tracker settings can be adjusted.
  p.links
    a(href='#main') Tonetrainer
    a(href='#recorder_start') Recorder
    a(href='#test') Test
