.tonetrainer-app
  span(class='mandarin-word') .
  br
  span(class='pinyin-word') .
  br
  br
  audio(class='example-audio-player' src='' controls) 
  hr
  p.links
    a(href='#' class='load-prev-word' data-bypass='') Previous
    |  
    a(href='#' class='record-audio' data-bypass='') Record
    |   
    a(href='#' class='load-next-word' data-bypass='') Next
  select(id='example_select')
  p Frequency chart:
  .exampleChart
  p(class='links link-out')
    a(href='#main') Go Back
    a(href='#') Home
