.tonetrainer-info
  h1 Welcome to Mandarin Tone Trainer!
  hr
  p Choose which set of examples to use while practicing tones, and then hit "Start training"
  select(id='speaker_select')
  p.links
    a(href='#main_app') Start training
    a(href='#') Home
