.tonetrainer-info
  h1 Welcome to Mandarin Tone Trainer!
  hr
  p At some point you can choose which native speaker you want to hear by default in the tonetrainer
  p.links
    a(href='#main_app') Start training
    a(href='#') Home
