.tonetrainer-app
  h1 Let the tone training begin!
  p Word goes here
  p Your pitch graph
  p Native speaker pitch graph
  p Play button for native speaker
  p Record audio button
  p
    a(href='#') Previous
    |  
    a(href='#') Select word
    |   
    a(href='#') Next
