.recorder-content
    h1 Tonetrainer Audio Recorder
    hr
    p(id="beginning_msg" class="beginning-msg") You should see the browswer requesting access to your microphone.
      | Once you allow access, the app will begin the recording process. When the target word is highlighted in red, the page is
      | actively recording. Hit the "Finish" button at anytime to stop recording.
    h3(id="intro_msg" class="recorder-msg")  
    hr
    br
    span(id="char_display" class="recorder-character")
    h3(id="pinyin_display" class="recorder-pinyin")
    p 
    p.links
      a(href='#recorder_end' id='end_link') Finish
