.recorder-content
    h1 Tonetrainer Audio Recorder
    hr
    h3 The next page will record you speaking a variety words in Mandarin. Hit the link below to start.
    hr
    input(id='showsimplified' type='checkbox' checked)
    label Show simplified characters?
    br
    br
    input(id='showpinyin' type='checkbox' checked) 
    label Show pinyin?
    br
    br
    a(href='#recorder') Begin recording
