.recorder-content
    h1 Audio Recorder
    h3(id="intro_msg") We will be recording about 60 samples with a 3 second pause between each word. Recording should take about 5-6 minutes. To start recording audio samples within the browser, accept the prompt to allow this page access to your microphone
    p
    br
    p
    h3(id="char_display" class="recorder-character")
    p 
    br
    p
    br
    a(href='#' id='show_pinyin_link') Show/hide pinyin
    h3(id="pinyin_display" class="recorder-pinyin")
    p 
    br
    p 
    br
    p
    br
    p
    br
    a(href='#recorder_end') Finish recording
