.recorder-content
    h1 Audio Recorder
    h3 Welcome. This is a site where we will record you speaking a variety words in Mandarin. Hit the link below to start.
    a(href='#recorder') Begin recording
