h1 Audio Recorder
p(id="intro_msg") To record audio samples in the browser, accept the prompt from your browser to allow this page access to your computer's microphone
a(href='#recorder_end') Finish recording
