.recorder-content
    h1 Tonetrainer Audio Recorder
    hr
    p The next page will record you speaking a variety words in Mandarin. It should only take 5-10 minutes to complete. 
      | Hit the Begin button below to start.
    p You will see a browser prompt asking for access to your microphone.
      | Once you allow access, the page will present a sequence of words to record.
      | There will be a 3 second pause before the microphone is active.
      | When the word appears outlined in red, then the microphone is actively recording.
      | You will get two tries per word. Try to speak the word as if in normal conversation.
    hr
    input(id='showsimplified' type='checkbox' checked)
    label Show simplified characters?
    br
    br
    input(id='showpinyin' type='checkbox' checked) 
    label Show pinyin?
    p.links
      a(href='#recorder') Begin
      a(href='#') Home
