.testpage-content
    h1 Tonetrainer Test Page
    hr
    p Parameters to use for RAPT:
    label Transition Cost: 
    input(id='rapt_tcost' value='0.005')
    label  Doubling Cost:
    input(id='rapt_dcost' value='0.3')
    br
    br
    label  Additive Constant: 
    input(id='rapt_addconst' value='10000')
    label  Voicing Bias:
    input(id='rapt_vobias' value='0.0')
    br
    br
    label  Lag Weight: 
    input(id='rapt_lagwt' value='0.3')
    label  Frequency Weight:
    input(id='rapt_freqwt' value='0.02')
    br
    br
    label   # Of Cands Per Frame:
    input(id='rapt_numcands' value='20')
    label   Use Two-Pass NCCF?
    select(id='rapt_istwopass')
        option(value='true')    true
        option(value='false')   false
    p.links
        a(href='#' class='recalc-freq' data-bypass='') Recalc
    p Calculate pitch for recorded sample:
    select(id='example_select')
    br
    br
    audio(class='example-audio-player' src='' controls)
    br
    p Frequency chart:
    .exampleChart
    hr
    p(class='links link-out')
        a(href='#') Home

