h1 Welcome to the test page!

p 
  This is just a quick test page

p
  This is just a link

a(href='/') back to index page

p
  This page has a wav file recorder. Based on:
  
a(href='http://typedarray.org/from-microphone-to-wav-with-getusermedia-and-web-audio/') this article

and here is an 

a(href='http://typedarray.org/wp-content/projects/WebAudioRecorder/') example implementation

p 
  Click Allow, then press R for recording, once done, press S to stop and grab the WAV file.

p(id='output')
