.testpage-content
    h1 Tonetrainer Test Page
    hr
    p Calculate pitch for recorded sample:
    select(id='example_select')
    br
    br
    audio(class='example-audio-player' src='' controls)
    br
    p Frequency chart:
    .exampleChart
    hr
    p(class='links link-out')
        a(href='#') Home

