.testpage-content
    h1 Tonetrainer Test Page
    hr
    p Parameters to use for RAPT:
    label Transition Cost: 
    input(id='rapt_tcost' value='0.5')
    br
    br
    label Doubling Cost:
    input(id='rapt_dcost' value='30')
    br
    p Calculate pitch for recorded sample:
    select(id='example_select')
    br
    br
    audio(class='example-audio-player' src='' controls)
    br
    p Frequency chart:
    .exampleChart
    hr
    p(class='links link-out')
        a(href='#') Home

