h1 Welcome to the test page!

p 
  This is just a quick test page

p
  This is just a link

a(href='/') back to index page

p
  This is a simple audio recorder:

button(id="recordAudio").
  Record

button(id="stopRecordingAudio").
  Stop

ul(id="recordingList").

div(id="chart").

hr

p.
  Test links

a(href='#' class='testGetFreq' data-bypass='').
  Get freq test link
